@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");

:root {
    --page-header-bgColor: #404040;
    --page-header-bgColor-hover: #dd0000;
    --page-header-txtColor: #ffce00;
    --page-header-headingColor: #dd0000;
    --page-header-width: 220px;
    --page-content-bgColor: #5a5a5a;
    --page-content-txtColor: #fff;
    --page-content-blockColor: #fff;
    --gold: #ffce00;
    --black: #404040;
    --red: #dd0000;
    --border-radius: 4px;
    --box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.075);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {
    background: none;
    cursor: pointer;
}
  
input {
    -webkit-appearance: none;
}

button,
input {
    border: none;
}

svg {
    display: block;
}

body {
    font: 16px/1.5 "Lato", sans-serif;
}

/* Header 
------------------------------ */
.pageHeader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    padding-top: 20px;
    width: var(--page-header-width);
    color: var(--page-header-txtColor);
    background: var(--page-header-bgColor);
}

.pageHeader nav {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.pageHeader .logo {
    display: block;
    margin: 0 15px;
}

.pageHeader .menu {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.pageHeader .menu li {
    width: 100%;
    padding: 12px 15px;
}

.pageHeader .menu .menuHeader h3 {
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    font-size: 12px;
    margin-top: 12px;
    color: var(--page-header-headingColor);
}

.pageHeader .menu button {
    font: inherit;
    font-size: inherit;
    color: inherit;
}

.pageHeader .menu li:hover:not(.menuHeader) {
    background: var(--page-header-bgColor-hover);
    color: var(--white);
    outline: none;
}

.pageHeader .menu li:last-child {
    margin-top: auto;
    margin-bottom: 20px;
}

.pageHeader .menu svg {
    width: 20px;
    height: 20px;
    fill: var(--page-header-txtColor);
    margin-right: 10px;
}

.pageHeader .menu button {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}

.pageHeader .menu button span {
    width: calc(100% - 30px);
}

/* Page Content 
------------------------------ */
.pageContent {
    position: relative;
    left: var(--page-header-width);
    width: calc(100% - var(--page-header-width));
    min-height: 100vh;
    padding: 30px;
    color: var(--page-content-txtColor);
    background: var(--page-content-bgColor);
}

.pageContent h1 {
    color: var(--red);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.pageContent .context {
    width: 85%;
    margin: auto;
}

.document1 {
    position: relative;
    left: 12.5%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.context2 {
    width: 50%;
}

.document2 {
    position: relative;
    left: 50%;
    top: -10%;
}